<p>calendar works!</p>
<h2>Current Month: {{ currentDate | date: 'MMMM yyyy' }}</h2>

<!-- temp button -->
<button type="button" (click)="toggleCalendar()">Select Date</button>
<div>
  selected date: {{selectedDate.start | date}} - {{selectedDate.end | date}}
</div>

@if (isCalendarVisible){
  <div class="container">
    <div class="calendar-card">
      <div class="calendar-container">
        <div class="calendar-header">
          <button mat-icon-button (click)="changeMonth(-1)"><mat-icon>arrow_back_ios</mat-icon></button>
          <span>{{ currentStateDate | date: 'MMMM yyyy' }}</span>
          <button mat-icon-button (click)="changeMonth(1)" class="normalize-btn"><mat-icon>arrow_forward_ios</mat-icon></button>
        </div>

        <div class="calendar-grid">
          <div class="day-label" *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
            {{ day }}
          </div>
          <div class="day-cell"
               *ngFor="let item of days"
               (click)="selectDay(item.day)"
               [class.selected]="item.selected"
               [class.empty]="item.day === 0"
               [class.today]="item.day === currentDay && currentStateDate.getMonth() === currentMonth">
            {{ item.day || '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
}




